@import "tailwindcss";

:root {
  /* Couleurs de marque */
  --primary: #6A58A9;
  /* Le violet Picoverse */
  --primary-foreground: #A997DF;

  --background: #FCFAFF;
  --foreground: #252B37;

  /* Typographie */
  --font-heading: 'Inter', sans-serif;
  --font-body: 'Inter', sans-serif;

  /* Arrondis */
  --radius: 0.75rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {

  input,
  textarea,
  select {
    color: var(--foreground);
  }
}